<%- include('../partials/header') %>
 <h1>Resorts</h1>
 
 <% resorts.forEach(function(r) { %>
 <div class = 'resortContainer'>
  
 <img src = '<%=r.photo %>' class="resortsimg" width = '500px' height = '1000px'>

 <p><%= r.name %> </p>
 <p><%= r.location %> </p>
 <p><%= r.elevation %> </p>
 <p><%= r.description %> </p>
 <p><%= r.terrain %> </p>

 <a href="/resorts/<%= r._id %>">DETAILS</a>
 </div>

<% }); %>
<%- include('../partials/footer') %>