<%- include('../partials/header') %>
 <h1>Submit a Resort</h1>
 <a href="/reveiws">reviews</a>
 hii
 <% resorts.forEach(function(r) { %>
 <div class = 'resortContainer'>
 <img src = '<%=r.photo %>' width = '500px' height = '350px'>
 <p><%= r.name %> </p>
 <p><%= r.location %> </p>
 <p><%= r.elevation %> </p>
 <p><%= r.description %> </p>
 <p><%= r.terrain %> </p>

 <a href="/resorts/<%= r._id %>">DETAILS</a>
 </div>

 <% }); %>
<%- include('../partials/footer') %>