<%- include('../partials/header') %>
<div class="picturedetails">
<img src = '<%=resort.photo %>' class="justpic" width = '800px' height = '650px'>
<p><%= resort.name %> </p>
<p><%= resort.location %> </p>
<p><%= resort.elevation %> </p>
<p><%= resort.description %> </p>
<p><%= resort.terrain %> </p>

<a href="/resorts/<%=resort._id%>/edit">Edit</a>
</div> 
<div class="reviewcluster">
<h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST" action="/resorts/<%= resort._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">

  </form>
</div>
<% } %>

<% if (resort.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% resort.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <div class="updateReview">
                <form action="/reviews/<%= r._id %>?_method=PUT" method="POST">
                  <input name="content" value="<%= r.content %>">
                  <button type="submit">Update Comment</button>
                </form>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete Comment</button>
                </form>
              </div>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / resort.reviews.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>